div{
    width: 600px;
    margin: 10px auto;
    /* box sizing digunakan untuk menyamakan ukuran box antar elemen */
    box-sizing: border-box; 
}
.satu{
    background-color: lightgreen;
    padding: 10px;
    border: 10px solid green;
}
.dua{
    background-color: lightblue;
    padding: 20px;
    border: 10px dashed blue;
}