.back-button{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #333;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease; 
}
.back-button:hover{
    background-color: #333;
    color: #fff;
    border-color: #333;
}
.navbar a{
    background-color: rgb(182, 215, 242);
    /* bukan display bawaan */
    display: inline-block;
    width: 100px;
    text-align: center;
}

.main{
    background-color: lavender;
    width: 600px;
    margin-top: 20px;
    padding: 5px;
}

.main h2{
    background-color: greenyellow;
}

.main p{
    text-align: justify;
}

.footer{
    background-color: rgb(167, 205, 237);
    width: 600px;
}

/* display default semua */